<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-3 small-12 columns">
        <div class="row panel">
          <h2><%= @store.name %></h2>
          <p><%= @store.description %></p>
        </div>
        <div class="row panel">
          <%= link_to 'Edit Store Info', edit_store_path(@store), class: 'button info radius small expand' %>
          <%= link_to 'Add a Product', new_product_path(store_id: @store.id), class: 'button info radius small expand' %>
        </div>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <% if @products.length > 0 %>
            <% @products.each do |product| %>
              <div class="large-4 small-6 columns">
                <div class="panel">
                  <h4><%= link_to product.name, product_path(product) %></h4>
                  <%= link_to image_tag(product.image_url), product_path(product) %>
                  <p><%= product.description.first(50) %></p>
                  <p class="text-right"><%= number_to_currency(product.list_price) %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="large-8 columns">
              <h1>No items for sale yet</h1>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

