<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-3 small-12 columns">
        <div class="row panel">
          <h2><%= @store.name %></h2>
          <p><%= @store.description %></p>
        </div>
        <div class="row panel">
          <%= link_to 'Edit Store Info', edit_store_path(@store), class: 'button info radius small expand' %>
          <%= link_to 'Add a Product', new_product_path(store_id: @store.id), class: 'button info radius small expand' %>
        </div>
      </div>
      <div class="large-9 columns">
        <div class="row">
          <% if @products.length > 0 %>
            <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
              <% @products.each do |product| %>
                <li>
                  <div class="panel">
                    <h4><%= link_to product.name, product_path(product) %></h4>
                    <%= link_to image_tag(product.image_url), product_path(product) %>
                    <p><%= product.description.first(50) %></p>
                    <p>
                      <span class="right large"><%= number_to_currency(product.list_price) %></span>
                      <span class="left"><%= button_to 'Add to Cart', line_items_path(product_id: product.id), class: 'label radius small success' %></span>
                    </p>
                    <p>
                    </p>
                  </div>
                </li>
              <% end %>
            </ul>
          <% else %>
            <div class="large-8 columns">
              <h1>No items for sale yet</h1>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

