<div class="row">
  <table>
    <thead>
      <tr>
        <th width="20%">Product</th>
        <th width="40%">Description</th>
        <th width="15%">Price</th>
        <th width="10%">Quantity</th>
        <th width="15%">Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |item| %>
        <tr>
          <td><%= link_to item.product.name, product_path(item.product_id) %></td>
          <td>
            <%= item.product.description.first(80) %>
            <% if item.product.description.length > 80 %>
              ...
            <% end %>
          </td>
          <td><%= number_to_currency(item.sales_price) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.quantity * item.sales_price) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"></td>
        <td><%= number_to_currency(@total) %></td>
      </tr>
    </tfoot>
  </table>
</div>
<hr>
