<!-- TODO: Figure out how to preserve session variables when logging out -->
<div class="row">
  <h1 class="text-center"><strong>Checkout</strong></h1>
  <% if current_user %>
    <%= render 'form' %>
  <% elsif session[:guest_id] %>
    <h2>Guest user: <%= @guest.email %></h2>
    <%= link_to "Cancel guest user", guest_path(session[:guest_id]), method: :delete %>
    <%= render 'form' %>
    <p>Proceed as new user instead?</p>
    <!-- TODO: link-to login -->
  <% else %>
    <div class="small-12 medium-6 large-6 columns">
      <h3 class="text-center">Login</h3>
      <div class="row panel">
        <%= render 'devise/sessions/login' %>
      </div>
      <div class="row text-center">
        </br>
        <%= link_to "Return to Cart", cart_path(session[:cart_id]), class: 'button info radius' %>
      </div>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <h3 class="text-center">Proceed without login</h3>
      <%= render 'guests/form' %>
    </div>
  <% end %>
</div>
