<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
    <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="row">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="row">
    <%= f.submit "Log in", class: "button small radius right" %>
    <%= link_to "Signup", new_user_registration_path, class: "button small success radius right" %>
  </div>
  <div class="row">
    <%= link_to "Forgot password?", new_user_password_path, class: "right" %>
  </div>

<% end %>