<%= form_for(@address) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.number_field :user_id, value: current_user.id, type: 'hidden' %>
    <%= f.text_field :nick, placeholder: 'Nickname', autofocus: true, required: true %>
    <%= f.text_field :street1, placeholder: 'Street Address', required: true %>
    <%= f.text_field :street2, placeholder: 'Unit Number (optional)' %>
    <%= f.text_field :city, placeholder: 'City', required: true %>
    <%= f.text_field :state, placeholder: 'State', required: true %>
    <%= f.text_field :zip, placeholder: 'Zip', required: true %>
    <%= f.submit "Create", class: "button radius expand" %>
  </div>
<% end %>
