<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.hidden_field :store_id %>
    <%= f.text_field :name, required: true, autofocus: true, placeholder: 'Product Name' %>
    <%= f.text_area :description, required: true, placeholder: 'Product Description' %>
    <%= f.text_field :list_price, required: true, placeholder: 'Price' %>
    <%= f.text_field :image_url, placeholder: 'Image URL' %>
    <%= f.text_field :mfger, placeholder: 'Manufacturer/Publisher' %>
    <%= f.text_field :model, placeholder: 'Model/Version' %>
    In stock: <%= f.check_box :in_stock %>
  </div>
  <div class="row">
    <%= f.submit class: 'button radius large expand' %>
  </div>

<% end %>
