<%= form_for(@artisan) do |f| %>
  <% if @artisan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artisan.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @artisan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :role %><br>
    <%= f.text_field :role %>

    <%= f.label :approved %><br>
    <%= f.check_box :approved %>

    <%= f.submit %>
  </div>

<% end %>
