<p id="notice"><%= notice %></p>

<div class="row">
  <h1>Listing Artisans</h1>

  <table>
    <thead>
      <tr>
        <th>Role</th>
        <th>Approved</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @artisans.each do |artisan| %>
        <tr>
          <td><%= artisan.role %></td>
          <td><%= artisan.approved %></td>
          <td><%= link_to 'Show', artisan %></td>
          <td><%= link_to 'Edit', edit_artisan_path(artisan) %></td>
          <td><%= link_to 'Destroy', artisan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Artisan', new_artisan_path %>
</div>