<div class="fixed ">
  <nav class="top-bar" data-topbar="" role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Homespun", root_path %></h1>
      </li>
    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "All Guests", guests_path %></li>
        <li><%= link_to "All addresses", addresses_path %></li>
        <li><%= link_to "All users", users_path %></li>
        <li><%= link_to "All stores", stores_path %></li>
        <li><%= link_to "All carts", carts_path %></li>
        <li class="divider"></li>
        <% if session[:cart_id] %>
          <li><%= link_to "Cart", cart_path(session[:cart_id]) %></li>
        <% end %>
        <!-- Drop down menu -->
        <% if current_user %>
          <li class="has-dropdown not-click">
            <%= link_to current_user.username, user_path(current_user) %>
            <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li><li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">Main Item 6</a></li>
              <li><%= link_to "Dashboard", user_path(current_user) %></li>
              <li><%= link_to "Edit profile", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>

      </ul>

      <!-- Left Nav Section -->
      <ul class="left">

      </ul>
    </section>
  </nav>
</div>